<h1>Burger Muncher!!</h1>

<h3>Burger's That Haven't Been Devoured</h3>

<ul>
    {{#each burger}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
        <button data-id="{{id}}" data-newdevoured="{{devoured}}">
            DEVOUR!!
        </button>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<hr>

<h3>Burger's You've Consumed So Far</h3>
<ul>
    {{#each burger}}
    {{#if devoured}}
    <li>
        {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>

<hr>

<h2>Add a Burger</h2>
<form>
    <label for="burger_name">Burger Name</label>
    <input type="text" id="burger" name="name"><br>

    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1">Devoured!<br>
    <input type="radio" name="devoured" value="0">Not Devoured..<br>

    <button type="submit">Add Burger</button>
</form>